body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #298A09;
}

.quem-somos {
    background-color: #8181F7;
    color: white;
}

.padding {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: turquoise;
}

.bg-footer {
    background-color: black;
    color: white;
}